body {
  margin: 0;
  font-family: Arial, sans-serif;
} 

/* ahora vamos a editar en navbar */

.navbar {
  background-color: rgb(59, 130, 246);   /* Color azul */
  padding: 1rem 2rem;                    /* Espaciado interno */
  display: flex;                         /* Coloca elementos en línea */
  justify-content: space-between;        /* Izquierda  Derecha */
  align-items: center;                   /* Centrado vertical */
  color: white;
}
.logo h2 {
  margin: 0;
  font-size: 1.5rem;                     /* Tamaño de letra grande */
}
.menu {
  list-style: none;   /* Quita los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex;      /* Pone los <li> uno al lado del otro */
}
.menu li {
  margin-left: 20px;  /* Espacio entre opciones */
}
.menu a {
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 5px;                     /* Bordes redondos */
  transition: background-color 0.2s ease; /* Animación suave */
}
.menu a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Efecto hover */
}